body {
    font-family: sans-serif;
}

nav > a {
    text-decoration: none;
    color: black;
    margin-top: 20px;
    padding-left: 30px;
    font-weight: 600;

}
li {
    list-style: none;
}
a:hover .dropdown {
    display: list-item;
}
.dropdown {
    display: none;
    color: black;  
    background-color: rgb(192, 185, 185);
}
a {
    text-decoration: none;
}
a:hover {
    color: blueviolet;
}

li > a {
    display: flex;
}

nav {
    margin-bottom: 80px;
    display: flex;
}